@model List<SETZ.Image>
@{
    Layout = "";
}


<div class="container">
    <div class="panel panel-warning" style="margin: 50px;">
        <div class="panel-heading">
            <h3>Другие изображения</h3>
        </div>
        <div class="panel-body">

            @foreach(var image in Model)
            {
                    <div class="col-md-3 grid">
                        <a class="close1" href="@Url.Action("DeleteImage", "Product", new { id = image.ID })" style="bottom: auto; right: 10px; width:25px;height:25px; background-size: contain;"></a>
                        <div>
                            <img src="@Url.Content("~/Images/Imgs/")@image.Path" data-imagezoom="true" class="img-responsive">
                        </div>
                    </div>
            }

        </div>
    </div>
</div>