
@{
    ViewBag.Title = "Завершение заказа";
    Layout = "~/Views/Shared/_custom_layout.cshtml";
}

<div class="container" style="padding: 50px;">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Завершение заказа</h3>
                </div>
                <div class="panel-body" style="text-align: center;">
                    <h1 id="h1-bootstrap-heading">Спасибо за ваш заказ!</h1>
                    <img src="@Url.Content("~/Images/")check.png" class="img-responsive" alt="" style="width:100px; margin: auto;">
                    <h3 id="h3-bootstrap-heading">Ваш заказ принят под номером @ViewBag.OrderNumber</h3>
                    <h3 id="h3-bootstrap-heading">Скоро наш сотрудник с вами свяжется</h3>
                    <div style="float: left; text-align: left; margin: 30px;">
                        <h3 id="h3-bootstrap-heading">Способы оплаты:</h3>
                        <h4 id="h4-bootstrap-heading">1. Наличными в нашем офисе по адресу: с.КокЖар, ул. Арстанбап 18</h4>
                        <h4 id="h4-bootstrap-heading">2. С помощью Элсом. (Kак оплатить через Элсом?)</h4>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

